@tailwind base;
@tailwind components;
@tailwind utilities;

html * {
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}

#root {
  background-image: url('../public/BG.png');
  background-size: cover;
}

.App {
  padding: 16px;
  text-align: center;
  height: 100vh;
  background: rgba(18, 14, 67, 0.5);
  backdrop-filter: blur(48px);
}

.bg-grey-blue {
  background-color: rgba(43, 64, 92, 0.80);
}
.bg-cancel-red {
  background: rgba(255, 92, 92, 0.80);
}

.Divider {
  display: block;
  content: '';
  background-color: white;
}

.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  background: rgba(44, 46, 96, 0.50);
  backdrop-filter: blur(6px);
  /* opacity: 0;
  transition: opacity 0.4s; */
}
.Overlay,
.Overlay * {
  z-index: 10;
}


.soft-white {
  background-color: rgba(255, 255, 255, 0.80);
  color: #212351;
}
.soft-white * {
  mix-blend-mode: darken;
}

.soft-dark {
  background-color: rgba(33, 27, 57, 0.80);
}
.soft-dark * {
  mix-blend-mode: lighten;
}

.fill {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.App-Window {
  border-radius: 16px;
  background: rgba(11, 11, 29, 0.75);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
